@font-face {
    src: url(../fonts/Dekar.otf);
    font-family: Dekar;

}

@font-face {
    src: url(../fonts/GOTHAM-BOLD_0.otf);
    font-family: GOTHAM-BOLD_0;

}

@font-face {
    src: url(../fonts/gotham-book.otf);
    font-family: gotham-book;

}

@font-face {
    src: url(../fonts/Gotham-Light.otf);
    font-family: Gotham-Light;

}

@font-face {
    src: url(../fonts/HELVBL.ttf);
    font-family: HELVBL;

}

@font-face {
    src: url(../fonts/Helvetica.ttf);
    font-family: Helvetica;

}

@font-face {
    src: url(../fonts/Helvetica-Bold.ttf);
    font-family: Helvetica-Bold;

}

@font-face {
    src: url(../fonts/Intro-Black-Italic.otf);
    font-family: Intro-Black-Italic;

}

@font-face {
    src: url(../fonts/Intro-Bold.otf);
    font-family: Intro-Bold;

}

@font-face {
    src: url(../fonts/Intro-Bold-Italic.otf);
    font-family: Intro-Bold-Italic;

}

@font-face {
    src: url(../fonts/Intro-Book.otf);
    font-family: Intro-Book;

}

@font-face {
    src: url(../fonts/Intro-Book-Italic.otf);
    font-family: Intro-Book-Italic;

}

@font-face {
    src: url(../fonts/Intro-Regular.otf);
    font-family: Intro-Regular;

}

@font-face {
    src: url(../fonts/Montserrat-Bold.otf);
    font-family: Montserrat-Bold;

}

@font-face {
    src: url(../fonts/Montserrat-SemiBold.otf);
    font-family: Montserrat-SemiBold;

}

@font-face {
    src: url(../fonts/MyriadPro-Regular.otf);
    font-family: MyriadPro-Regular;

}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;

}

button:hover {
    cursor: pointer;
}

hr {
    width: 80px;
    border-top:
        1px solid black;

}

/*******************NAVBAR*********************/
.nav-contact {
    margin-top: 10px;
    padding-right: 12vw;
}

.nav-contact button {
    border-radius: 25px;
    font-size: 1rem;
    text-align: center;
    padding: 5px 20px;
    display: inline-block;
    border-style: none;
    margin-right: 20px;
    margin-top: 10px;
    font-family: Montserrat-SemiBold;
}

.access {
    background-color: #006180;
    color: white;
}

.whatsapp {
    background-color: #D8D8D8;
}

.logo {
    width: 250px;
}

nav.navbar {
    padding: 10px 10vw;
}

nav li a {
    font-size: 1rem;
    font-family: Montserrat-SemiBold;
    color: black;
}



/*************Carousel************/
.carousel-indicators > li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: darkgray;
}

.carousel-indicators > li.active {
    background-color: #689C25;
}

/**********SECTION_2***************/

.section-2 {
    background-image: url(../images/section-2-bg.png);
    background-size: 100% 100%;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 35vw;
    padding: 2vw 0 2vw 40vw;
    color: #CCCBCB;

}

.section-2 .row .col-5 {
    margin-top: 8vw;

}

.video-text {
    font-size: 1.5rem;
    line-height: 2;
    font-family: Montserrat-Bold;
}

.section-2 h2 {
    font-family: GOTHAM-BOLD_0;
}

.section-2 p {
    font-family: gotham-book;
}


.video {
    height: 10vw;

    display: block;
    margin: auto;

}


.row-2-text {
    margin-top: 10vw;
    font-size: 1rem;
}

.section-2 button {
    padding: 5px 25px;
    border-radius: 25px;
    border-style: none;
    font-size: 1rem;
    font-family: GOTHAM-BOLD_0;
}

/**************Section 3**************/

.section-3-head {
    width: 100%;
    padding: 2vw 0vw;
    text-align: center;
    font-size: 2rem;

    font-family: Montserrat-Bold;
}

.section-3 {
    background-image: url(../images/section-3.png);
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 50vw;
}



/************Pacotes**************/
.pacotes {
    text-align: center;
    padding: 2vw 0;
}

.pacotes #top-banner img {
    width: 15vw;
}

.pacotes #top-banner,
.pacotes #top-button {
    display: inline-block;
    padding: 0px 10px;
    font-family: Helvetica-Bold;
}

.pacotes button {
    padding: 10px 25px;
    border-radius: 25px;
    border-style: none;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: #006180;
    font-family: Helvetica-Bold;
}

.pacotes .description img {
    display: block;
    margin: auto;
    width: 80vw;

}

.pacotes-all {
    padding: 2vw 5vw;
}

.pacotes-all button {
    border-style: none;
    background: transparent;
}

.pacotes-logo {
    width: 80%;
    display: block;
    margin: auto;
    opacity: 50%;
}

.pacotes-all .active {
    opacity: 100%;
}


.pacotes-popup {

    position: absolute;
    display: block;
    left: 10vw;
    margin-top: -5vw;
    width: 80vw;
    visibility: hidden;
    z-index: 9;
}

.pacotes > .pacotes-popup-button,
.section-4 > .pacotes-popup-button {
    position: absolute;
    z-index: 10;
    background-color: transparent;
    color: white;

    border-radius: 0;
    padding: 0;
    font-size: 2rem;
    left: 83vw;
    margin-top: -3vw;
    border: none;
    visibility: hidden;
    padding: 10px;
}

.pacotes > .pacotes-popup-button {
    background-color: #006180;
}

/**************Section 4**************/
.section-4 {
    background-image: url(../images/section-4_1.png);
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 35vw;
    text-align: center;
}

.section-4 .saiba {
    display: inline-block;
    font-size: 1rem;
    padding: 5px 20px;
    border-style: none;
    border-radius: 25px;
    background-color: #808080;
    color: white;
    margin-top: 45%;
    margin-right: 11vw;
    font-family: GOTHAM-BOLD_0;
}

.academy-popup {
    height: 35vw;
    width: auto !important;
    display: block;
    margin: auto;
    z-index: 9;
    left: 0;
    right: 0;
}

.section-4 > .pacotes-popup-button {
    left: 72vw;
    margin-top: 0vw;
    color: black;
    z-index: 10;
}

/**************Section 5**************/


.section-5 {
    background-image: url(../images/section-5.png);
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 35vw;
}

/**************Section 6**************/

.section-6 {
    padding: 0vw 5vw;


}

.section-6 img {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.section-6 p {
    font-family: Helvetica;
    font-size: 1rem;
}

.section-6 b {
    font-family: Helvetica-Bold;
    font-size: 1rem;
}



/***********PARCEIROS****************/

.perceiros {
    padding: 2vw 10vw;
}

.perceiros img {
    display: block;
    margin: auto;
    width: 50%;
}

button.slick-prev.slick-arrow,
button.slick-next.slick-arrow {
    display: none !important;
}


/*********Goal Quote**************/

.goal-quote {
    padding: 5vw 30vw;
    font-size: 1rem;
    text-align: center;
    background-color: #006180;
    color: white;
    font-family: Gotham-Light;
}



/**************Foooter***********/

.footer {
    background-color: #1C1C1C;
    font-family: Helvetica;
    color: #606060;
    padding: 5vw;

}

.footer a {
    font-size: 1rem;

    color: #606060;
    text-decoration: none;
    font-family: Helvetica;
}

.logo-grey {
    width: 80%;
}

.socials {
    margin-top: 10px;
}

.social-icon,
.small-icons {
    width: 1rem;
}

.members {
    width: 300px;
}


/********Back to top button**********/

.backtotop img {
    width: 30px;
    height: 30px;

}

.backtotop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
}

/*************MEDIA QUERY****************/

@media only screen and (max-width: 991px) {

    .nav-contact {
        padding-right: 0px;
        padding-left: 20px;
        text-align: center;
    }

    .section-2 {
        height: 40vw;
        padding: 1vw 0 0vw 38vw;
    }

    .row-2-text h2 {
        font-size: 1.5rem;
    }

    .row-2-text p,
    .row-2-text button,
    .footer {
        font-size: .8rem;
    }

    .section-3-head {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .logo {
        width: 200px;
    }

    .section-2 {
        height: 40vw;
        padding: .5vw 0 0vw 40vw;
    }

    .row-2-text h2 {
        font-size: 1.2rem;
    }

    .row-2-text p,
    .row-2-text button {
        font-size: .6rem;
    }

    .section-4 .saiba {
        font-size: .7rem;
        padding: 2px 20px;
        margin-top: 50%;
    }

    .section-6 {
        text-align: center;
    }

    .pacotes .description img {

        width: 90vw;
    }

    .pacotes button {
        padding: 7px 15px;
        font-size: .8rem;

    }

    .section-6 p,
    .section-6 b,
    .footer a {
        font-size: .8rem;
    }

    .perceiros img {

        width: 60%;
    }

    .goal-quote {
        padding: 5vw 20vw;
        font-size: .8rem;
    }

    .nav-contact button {
        font-size: .7rem;
    }

    .section-3-head {
        font-size: 1.2rem;
    }

    .pacotes-popup {


        left: 5vw;

        width: 90vw;

    }

    .pacotes > .pacotes-popup-button,
    .section-4 > .pacotes-popup-button {
        font-size: 1.5rem;

    }

    .video-text {
        font-size: 1rem;

    }

    .video {
        height: 12vw;


    }
}

@media only screen and (max-width: 576px) {
    .logo {
        width: 150px;
    }

    .section-2 {
        height: 45vw;
        padding: 0vw .5vw 0vw 40vw;
        line-height: 1;
    }

    .row-2-text h2 {
        font-size: .8rem;
    }

    .row-2-text p,
    .row-2-text button {
        font-size: .5rem;
    }

    .pacotes .description img {

        width: 100vw;
    }

    .pacotes button {
        padding: 7px 15px;
        font-size: .6rem;

    }

    .section-6 p,
    .section-6 b {
        font-size: .6rem;
    }

    .perceiros img {

        width: 80%;
    }

    .goal-quote {
        padding: 5vw 10vw;
        font-size: .6rem;
    }

    .pacotes-popup {


        left: 2.5vw;

        width: 95vw;

    }

    .pacotes > .pacotes-popup-button,
    .section-4 > .pacotes-popup-button {
        font-size: 1rem;

    }

    .video-text {
        font-size: .7rem;

    }
}
